# Python cache
__pycache__/
*.pyc

# Database
migrations/
*.db

# Environment Variables
*.env

# Virtual Environment
venv/

# Documentation
documentation/

# Logs
logs/

# Uploaded images
app/static/media/img/

# Deployment Tools
deploy_tools/

# OS X Files
.DS_STORE
