{% extends "dashboard/dashboard_base.html" %}

{% block script %}
<script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.ui.widget.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.fileupload.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.fileupload-process.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.fileupload-ui.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
<script>

</script>
{% endblock script %}

{% block content %}
<h1>New Post/Edit Post</h1>
<div>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="fieldset-post">
            <legend>{{ legend }}</legend>
            <div>
                {{ form.title.label(class="post-input-label") }}
                {% if form.title.errors %}
                    {{ form.title }}
                    <div>
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="post-input post-input-title") }}
                {% endif %}
            </div>
            <div>
                {{ form.content.label(class="post-input-label") }}
                {% if form.content.errors %}
                    {{ form.content }}
                    <div>
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content(class="post-input post-input-textarea", id="post-input-textarea") }}
                {% endif %}
            </div>
            <div id="add-project-structure" class="button button-info">
                <small>Project</small>
            </div>
            <div id="add-blogpost-structure" class="button button-info">
                <small>Blog</small>
            </div>
            <div>
                {{ form.post_type.label(class="post-input-label") }}
                {% if form.post_type.errors %}
                    {{ form.post_type }}
                    <div>
                        {% for error in form.post_type.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.post_type }}
                {% endif %}
            </div>
            <p>{{ form.published() }} {{ form.published.label }}</p>
        </fieldset>
        </div>
        <div>
            Upload Images: <input class="button-upload" type="file" id="fileupload" name="file" multiple>
            <div>
              <img id="imgUpload" style="width: 140px; height: 140px;" class="img-thumbnail"><input type="text" name="filePath" id="filePath"></input>
            </div>
        </div>
        <div>
            {{ form.submit(class="button button-success") }}
        </div>
    </form>
    <form enctype="multipart/form-data">

    </form>
</div>
{% endblock content %}
