<!DOCTYPE html>
<html>
<head>
    <title>{{ current_user.username }}'s Dashboard on stefanpfeuffer.com</title>

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='media/favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css') }}">

    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    {% block script %}
    {% endblock script %}

</head>
<body>
    <header>
        <nav class="navbar-container">
            <div>
            User: {{ current_user.username }} |
            {% if current_user.last_seen %}
                Last seen on: {{ current_user.last_seen.strftime('%Y-%m-%d at %H:%M') }} UTC
            {% endif %}
            </div>
            <ul class="navbar">
                <li><a href="{{ url_for('dashboard.dashboard') }}">Home</a></li>
                <li><a href="{{ url_for('dashboard.update_user') }}">Change Credentials</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <div class="content-container">
        <main class="content">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="flash-message"><strong>{{ message }}</strong></p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}
            {% endblock content %}
        </main>
    </div>
</body>
</html>
