<!DOCTYPE html>
<html>
<head>
    <title>{{ current_user.username }}'s Dashboard on stefanpfeuffer.com</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css') }}">

    {% block script %}
    {% endblock script %}

</head>
<body>
    <header>
        <nav class="navbar-container">
            <div>
            User: {{ current_user.username }} |
            {% if current_user.last_seen %}
                Last seen on: {{ current_user.last_seen }} UTC
            {% endif %}
            </div>
            <ul class="navbar">
                <li><a href="{{ url_for('dashboard.dashboard') }}">Home</a></li>
                <li><a href="{{ url_for('dashboard.update_user') }}">Change Credentials</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <div class="content-container">
    <main class="content">
        {% with message = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <strong>{{ message }}</strong>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>
