{% extends 'base.html' %}

{% block content %}
    <section>
        <h1>Manifesto and Privacy Policy</h1>
        <p>
            I value simplicity and privacy.
        </p>
        <p>
            <strong>Simplicity:</strong> I want to keep things simple on this website. Is it as simple as possible? No. The site is a learning experience for me and I do use technology that might not be strictly necessary. But: I always keep you, the visitor, in mind. I want this site to be lightweight and easy to read. I do not use a pre-made solution that might include features I don't need. I implement only the things I deem useful. Simply put: no ads, no bloat, no distractions.
        </p>
        <p>
            <strong>Privacy:</strong> I value my privacy and I value yours. This means that I do not use cookies on this website. Nor do I use any tracking tools such as Google Analytics. I don't need to know how many people visit this website and where they are from. The company I host this site with <em>does</em> keep server logs which include the IP addresses of visitors. These logs are kept for debugging purposes and are automatically deleted after some time has passed. I do not access these logs. Simply put: I don't want anyone to keep my data and I won't keep yours.
        </p>
        <p>
            If you have any questions about this I would love to hear from you at <a href="mailto:mail@stefanpfeuffer.com">mail@stefanpfeuffer.com</a>.
        </p>
    </section>
{% endblock content %}
